/* Body background */
body {
    background-color: #a3e9b8;
    /* pick any color you like */
}

/* All H1s */
h1 {
    font-family: "Baloo 2", system-ui, sans-serif;
    color: #1a1a1a;
    box-shadow: #2c6e49;
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.08), 0 0 18px rgba(255, 77, 109, .25);
    letter-spacing: 0.5px;
}

/* All H3s */
h3 {
    font-family: "Nunito", system-ui, sans-serif;
    color: #2c6e49;
    box-shadow: #2c6e49;
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.08), 0 0 18px rgba(255, 77, 109, .25);
    letter-spacing: 0.5px;
}

/* All DIVs */
div {
    font-family: "Nunito", system-ui, sans-serif;
    color: #333333;
    /* text color inside the divs */
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
    color: #00ff6e;
    box-shadow: #2c6e49;
    background-color: #142018;
    letter-spacing: 0.5px;
}